@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    border: 0;
    margin: 0;
}

.bg-image {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    color: white;
    font-family: "Roboto";
    padding: 6px;
    height:100vh;
}

.main-heading {
    text-align: center;
}

.space-from-top {
    padding-top: 10px;
}

.start-button {
    background-color: orange;
    border:none;
    color: white;
    height: 32px;
    width: 73px;
}

.center {
    text-align: center;
    padding-top:15px;
}

.underline {
    text-decoration: underline;

}
